h1.title {
  text-align: center;
  color: white;
}

table {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

td{
  border:1px solid #FF0000;
  text-align: center;
}

tr{
  text-align: center;
}

body {
  background-image: url("../images/cartoon_pub.jpg");
}

div.gif-container {
  text-align: center;
}

div.linkButtons {
  text-align: center;
}
