h1.title {
  text-align: center;
  color: white;
}

h1.recipe-name {
  text-align: center;
  padding: 100px;
  color: white;
}

img {
  display: block;
  padding: 150px;
  margin-left: auto;
  margin-right: auto;
}

div.app-links {
  background-color: white;
}

div.ingredient-card {
  border-style: solid;
  border-color: black;
  background-color: white;
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 70px;
}

div.ingredient-cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 160px;
  }

h1.question-status {
    text-align: center;
}

body {
  background-image: url("../images/cartoon_pub.jpg");
}
/*div.ingredient-card-detail {
  text-align: center;
  padding: 30px;
}*/

form {
  color: white;
  padding: 100px;
  text-align: center;
}

div.linkButtons {
  text-align: center;
}

h1.recipe-name, {
  text-align: 'center';
  color: white;
}

div.submit-button-container {
  text-align: center;
}
