
h1.recipe-name {
  text-align: center;
  padding: 100px;
}

div.ingredient-card {
  border-style: solid;
  border-color: black;
  background-color: white;
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 70px;
}

div.ingredient-cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 160px;
  }

h1.question-status {
    text-align: center;
}

body {
  background-image: url("../images/liquors_1.jpg");
}
/*div.ingredient-card-detail {
  text-align: center;
  padding: 30px;
}*/
