div.buttons {
  text-align: center
}

img {
  display: block;
  padding: 150px;
  margin-left: auto;
  margin-right: auto;
}

h1.recipe-name {
  text-align: center;
  padding: 100px;
}

div.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 400px;
  height: 400px;
  color: white;
  text-align: center;
}

div.card-front {
  background-color: blue;
}

div.card-back-ingredients {
  background-color: orange;
}

div.card-back-full-recipe {
  background-color: green;
}
